html {
    // animation: animParticles 1000s linear infinite;
    font-size: 10px;
    background: $backgroundColor url('./assets/images/bg-particles.svg') repeat-y top center;
    background-size: 100%;
}
body {
    color: $textColor;
    font-family: $mainFont;
    letter-spacing: 0.2em;
    text-align: center;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: $largeBreakpoint) {

    .cntnt {
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        min-height: calc(100vh - 64px);
        margin: 32px;
        overflow: hidden;
    }

}

@keyframes animParticles {
    from {
        background-position: top 0 center;
    }
    to {
        background-position: top -1000vh center;
    }
}