html {
    font-size: 10px;
    background-color: $backgroundColor;
}
body {
    color: $textColor;
    font-family: 'archivo', sans-serif;
    font-weight: 500;
    text-rendering: geometricPrecision;
    -webkit-text-size-adjust: 100%;
}

.button-style{
    background-color: $secondaryColor;
    border-radius:8px;
    font-weight: bold;  
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
}