html {
    font-size: 10px;
    position: relative;

    &::before {
        animation: animParticles 90s linear infinite;
        animation-direction: alternate;
        background: $backgroundColor url('./assets/images/bg-particles.svg') repeat-y top center;
        background-size: 100% auto;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        bottom: 0; left: 0;
        transform-origin: bottom center;
        width: 100%;
    }
}
body {
    color: $textColor;
    font-family: $mainFont;
    letter-spacing: 0.2em;
    position: relative;
    text-align: center;
    z-index: 1;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: $largeBreakpoint) {

    .cntnt {
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        min-height: calc(100vh - 64px);
        margin: 32px;
    }

}

@keyframes animParticles {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.3);
    }
}