.header {
    padding: 24px 8px 36px;
    position: relative;
    z-index: 1;

    &__logo {
        margin: 0 auto;
        max-width: 208px;
        text-align: center;

        &-link {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
        img {
            display: block;
        }
    }
}

@media screen and (min-width: $tabBreakpoint) {

    .header {
        padding: 36px 8px 48px;

        &__logo {
            max-width: 277px;
        }
    }

}

@media screen and (min-width: $largeBreakpoint) {

    .header {
        padding: 22px;

        &__inner {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
        &__logo {
            margin: 0;
            order: 10;
            text-align: left;
            width: 100%;
        }
    }

}