.menu {
    display: none;
}

@media screen and (min-width: $largeBreakpoint) {

    .menu {
        display: block;
        flex-grow: 1;
        margin-top: 0;
        order: 0;
        max-width: calc(50% - 170px);
        text-align: left;

        &__links {
            align-items: center;
            display: flex;
        }
        &__submenu {
            order: 20;
            text-align: right;

            &-links {
                justify-content: flex-end;
            }
        }
        &__item {
            &-link {
                color: $textColor;
                font-family: $mainFont;
                font-size: 1.4rem;
                display: inline-block;
                letter-spacing: 0.03em;
                outline: none;
                padding: 10px;
                position: relative;
                text-decoration: none;
                white-space: nowrap;
                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }

    .router-link-exact-active {
        color: $hoverColor;
    }

    .thumbnailLogo {
        max-width: 2rem;
    }
}