// Colors
$backgroundColor: #062038;
$ctaBackground: linear-gradient(232.7deg, #F9DEA1 25.82%, #D0B984 71.62%);
$textColor: #fff;

// Breakpoints
$mediumMobileBreakpoint: 440px;
$bigMobileBreakpoint: 660px;
$tabBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$largeBreakpoint: 1280px;
$bigBreakpoint: 1440px;
$bigPlusBreakpoint: 1580px;

// Fonts
$mainFont: 'theBoldFont', sans-serif;
$txtFont: 'rawengulk', sans-serif;