$backgroundColor: #0c0628;
$mainColor: #474340;
$secondaryColor: #d45568;
$hoverSecondaryColor: #a13341;
$textColor: #FFFFFF;

$mediumMobileBreakpoint: 440px;
$bigMobileBreakpoint: 660px;
$tabBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$largeBreakpoint: 1280px;
$bigBreakpoint: 1440px;
$bigPlusBreakpoint: 1580px;