.cntnt {
    &__collect {
        min-height: calc(100vh - 450px);
        padding: 100px 0;

        &-title {
            margin-bottom: 27px;
        }
    }
    &__content {
        font-family: rawengulk,sans-serif;
        padding-bottom: 32px;
    }
}

