@keyframes slideInFromTop {
    0% {
      transform: translateY(-40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.cntnt {
    &__contentCollection{
        font-size: 2rem;
        font-family: rawengulk,sans-serif;
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: 36px;
        position: relative;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
        animation: 0.75s ease-out 0s 1 slideInFromTop;


        &-filterButton {
            background-color: Transparent;
            background-repeat:no-repeat;
            border-radius: 15px;
            border-color: yellow;
            border: 2px;
            position: relative;
            display: inline-block;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

        }

        &-filterContent {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

        }
        &-filter {
            width: 230px;
            padding: 5px;
            font-weight: 500;
            color: #fff;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: rawengulk,sans-serif;
            background: #062038;
            border-width: thin;
            border-color: #8d804a;
            border-radius: 15px;
            margin-bottom: 4rem;
        }

        &-btn{
            width: 230px;
        }
    }

    &__collectionBlock {
        margin-top: 10rem;
        display: flex;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
        animation: 0.75s ease-out 0s 1 slideInFromTop;

        &-filters {
            margin: auto;
            margin-left: 4%;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            display: flex;
            flex-direction: column;
            margin-top: 18rem;
        }

        &-cards{
            width: 100%;
            margin: auto;
            margin-left: 2%;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

            overflow-x: auto;
            padding: 0;
            position: relative;

            &:hover {
                cursor: url('./assets/images/cursor.png') 40 42, grab;
            }
        }
    }
}

.box {    
    margin-top: -10rem;    
    padding: 15rem;
    width: 100%;
    max-height: 1400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 366px;
    text-align: center;
    white-space: nowrap;
}
.box>* {
    flex: 1 1 80px;
}
@media screen and (min-width: $desktopBreakpoint) {
    .box {
        overflow: hidden;
    }
}

@media screen and (max-width: $desktopBreakpoint) {
    .box {
        max-height: 1030px;
    }
    .cntnt {
        &__collectionBlock {
            display: flex;
            flex-direction: column;
            &-cards  {
               margin-left: 0%;
            }
            &-filters {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        &__contentCollection{
            &-filter {
                margin-right: auto;
                margin-left: auto;
            }
            &-btn {
                margin-top: -1rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
