.cntnt {
    &__mint {
        margin-top: 5rem;
        &-content {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
        }
        &-booster {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            height: auto;
            width: 35%;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        &-buttonAdd {
            margin-left: 1rem;
            margin-right: 1rem;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            width: 10%;
            background: transparent;
            color: #fff;
            display: inline-block;
            font-size: 1.6rem;
            height: 52px;
            letter-spacing: 0.05em;
            line-height: 48px;
            padding-top: 0px;
            padding-right: 30px;
            padding-bottom: 4px;
            padding-left: 20px;
            position: relative;
            text-decoration: none;
            text-shadow: 0px 0px 10px rgba(8, 47, 79, 0.26);
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);

            &::before, &::after {
                background: transparent url('./assets/images/btn-front.svg') no-repeat top center;
                border-top-left-radius: 5px !important;
                border-top-right-radius: 25px !important;
                border-bottom-right-radius: 25px !important;
                border-bottom-left-radius: 25px !important;
                content: '';
                display: block;
                height: 48px;
                position: absolute;
                top: 0; left: 0; right: 0;
                width: 100%;
                z-index: -1;
            }
            &::before { // Btn Shadow
                background-image: url('./assets/images/btn-back.svg');
                top: unset; bottom: 0;
            }

        }
        &-buttons { 
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }
        &-btn {
            margin-top: 2rem;
            width: 200px;
        }
        &-text {
            font-size: 4.5rem;
        }
    }
}

@media screen and (max-width: $largeBreakpoint) {
    .cntnt {
        &__mint {
            &-booster {
                width: 45%;
            }
        }
    }
}


@media screen and (max-width: $tabBreakpoint) {
    .cntnt {
        &__mint {
            &-booster {
                width: 65%;
            }
        }
    }
}


.modalMint {
    &-content {
        border-radius: 25px;
        background: transparent url('./assets/images/bg-block-red.png') no-repeat center center;
        background-size: 100% 100%;
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
        z-index: 99;
        width: 100%;
        height: calc(100% - 50px);
        margin-top: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        &::before, &::after {
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 50%;
            z-index: 99;
        }
        &::before {
            background: transparent url('./assets/images/badge.svg') no-repeat center center;
            background-size: 100% auto;
            margin: -45px 0 0 -45px;
            height: 90px;
            width: 90px;
        }
        &::after {
            animation: badge 10s ease infinite;
            animation-direction: alternate;
            background: linear-gradient(180deg, #88578C, #4E3A93 25%, #4E3A93 75%, #88578C 100%);
            background-size: 100% 800%;
            margin: -36px 0 0 -36px;
            height: 72px;
            width: 72px;
        }
    }
    &-message{
        padding-top: 5%;
        color: green;
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: $desktopBreakpoint) {
    .modalMint {
        &-content {
            &::before, &::after {
                display: none;
            }
        }
    }
    .cntnt {
        &__mint {
            &-text {
                font-size: 3rem;
            }
        }
    }
}

