$cardMargin: 12px;

.cntnt {
    &__allcards {
        background: radial-gradient(48.92% 48.92% at 50% 50%, rgba(9, 51, 106, 0.5) 0%, rgba(25, 119, 206, 0) 100%);
        margin-top: -40px;
        padding: 100px 0;

        &-title {
            font-size: 3.8rem;
            line-height: 1;
            margin-bottom: 40px;
        }
        &-txt {
            font-family: $txtFont;
            font-size: 2rem;
            letter-spacing: 0;
            line-height: 1.2;
            margin: 0 auto 40px;
            max-width: 626px;
            padding: 0 16px;
        }
        &-filters {
            display: inline-block;

            &.active {
                .cntnt__allcards-filter {
                    opacity: 0.3;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
        &-filter {
            cursor: pointer;
            display: block;
            line-height: 32px;
            margin: 12px auto 0;
            padding-left: 40px;
            position: relative;
            text-align: left;
            transition: opacity 0.15s cubic-bezier(.27,.78,.38,1.34);
            width: 166px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);

            &::before, &::after {
                border-radius: 50%;
                content: '';
                display: block;
                position: absolute;
                top: 50%;
            }
            &::before {
                background: transparent url('./assets/images/badge.svg') no-repeat center center;
                background-size: 100% auto;
                height: 32px;
                margin-top: -16px;
                left: 0;
                width: 32px;
            }
            &::after {
                background: linear-gradient(180deg, #88578C, #4E3A93 25%, #4E3A93 75%, #88578C 100%);
                background-size: 100% 800%;
                height: 26px;
                margin-top: -13px;
                left: 3px;
                width: 26px;
            }
            &:first-child {
                margin-top: 0;
            }
        }
        &-cards {
            overflow-x: auto;
            padding: 54px 0 30px;
        }
        &-list {
            margin: 0 auto;
            min-height: 366px;
            text-align: center;
            width: 242px + (2 * $cardMargin);
            white-space: nowrap;
        }
        &-img {
            border-radius: 20px;
            box-shadow: 0 0 10px 0 #082E4D;
            display: inline-block;
            margin: 0 $cardMargin;
            transition: all 0.15s cubic-bezier(.27,.78,.38,1.34);
            user-select: none;
            will-change: transform;

            img {
                display: block;
                max-width: 242px;
                user-select: none;
                image-rendering: -o-crisp-edges;
                image-rendering: -moz-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
            }
            &.active {
                box-shadow: 0 0 10px 5px rgb(4, 31, 54, 0.8);
                position: relative;
                transform: scale(1.25) rotate(-2deg);
                z-index: 1;
            }
            &:last-child {
                margin-right: 20%;
            }
        }
        &-coming {
            padding: 50px 0;
        }
    }
}

@media screen and (min-width: $tabBreakpoint) {

    .cntnt {
        &__allcards {
            &-title {
                margin-bottom: 52px;
            }
            &-filter {
                display: inline-block;
                margin: 0;
                padding: 12px 32px 12px 56px;
                width: auto;

                &::before {
                    left: 16px;
                }
                &::after {
                    left: 19px;
                }
            }
            &-list {
                width: 520px + (2 * $cardMargin);
            }
        }
    }

}

@media screen and (hover: hover) and (min-width: $desktopBreakpoint) {

    .cntnt {
        &__allcards {
            &-filters {
                display: block;
                padding: 16px;
                position: relative;
                z-index: 1;

                &:hover {
                    .cntnt__allcards-filter {
                        opacity: 0.3;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
            &-cards {
                margin: -52px 0 -24px;
                padding: 0;
                position: relative;

                &:hover {
                    cursor: url('./assets/images/cursor.png') 40 42, grab;
                }
            }
            &-list {
                min-height: 566px;
                overflow: hidden;
                padding: 110px 10.5%;
                width: 100%;
            }
            &-img {
                &.active {
                    transform: scale(1.5) rotate(-3deg);
                }
            }
            &-check {
                position: relative;
                z-index: 1;
            }
        }
    }

}

@media screen and (hover: hover) and (min-width: $largeBreakpoint) {

    .cntnt {
        &__allcards {
            &-cards {
                margin: -52px -32px -20px;
            }
            &-list {
                padding-left: 17.6%;
                padding-right: 17.6%;
            }
            &-img {
                margin: 0 16px;
            }
        }
    }

}

@media screen and (hover: hover) and (min-width: $bigBreakpoint) {

    .cntnt {
        &__allcards {
            &-list {
                padding-left: 11.3%;
                padding-right: 11.3%;
            }
        }
    }

}