.cntnt {
    &__home {
        &-card {
            animation: animCards 20s linear infinite;
            animation-direction: alternate;
            opacity: 0.4;
            position: absolute;
            will-change: transform;

            $cardsDuration: 70s;
            $cardsGap: 10s;
            &-1 {
                animation-duration: $cardsDuration;
                top: 19.6%; left: 56%;
            }
            &-2 {
                animation-duration: $cardsDuration + $cardsGap;
                top: 32.6%; left: 26%;
            }
            &-3 {
                animation-duration: $cardsDuration + ($cardsGap * 2);
                top: 42%; left: 58%;
            }
            &-4 {
                animation-duration: $cardsDuration + ($cardsGap * 3);
                top: 53%; left: 68%;
            }
            &-5 {
                animation-duration: $cardsDuration + ($cardsGap * 4);
                top: 56.6%; left: 24%;
            }
            &-6 {
                animation-duration: $cardsDuration + ($cardsGap * 5);
                top: 73.6%; left: 26%;
            }
        }
    }
}

@media screen and (min-width: $largeBreakpoint) {

    .cntnt {
        &__home {
            &-card {    
                &-1 {
                    top: 23.6%;
                }
                &-2 {
                    top: 38.2%; left: 31%;
                }
                &-3 {
                    top: 44.5%; left: 54%;
                }
                &-4 {
                    top: 58%; left: 66%;
                }
                &-5 {
                    top: 61%; left: 28%;
                }
                &-6 {
                    top: 75.6%;
                }
            }
        }
    }

}

@keyframes animCards {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-300%);
    }
}