@keyframes slideInFromTop {
    0% {
      transform: translateY(-40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
}

.cntnt {
    &__intro {
        background: #062038;
        position: relative;

        &::after {
            background: linear-gradient(0deg, rgba(6,32,56,0) 0%, rgba(6,32,56,1) 100%);
            content: '';
            display: block;
            height: 100px;
            position: absolute;
            top: 100%; left: 0; right: 0;
        }
        &-inner {
            background: url('./assets/images/main-bg-home.jpg') no-repeat center center;
        }
        &-power {
            align-items: center;
            display: flex;
            font-size: 1.2rem;
            justify-content: center;
            line-height: 1;
            position: relative;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

            img {
                margin-left: 4px;
                max-width: 20px;
            }
        }
        &-title {
            font-size: 3.8rem;
            line-height: 1;
            margin: 20px 0 12px;
            position: relative;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.24s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

        }
        &-txt {
            font-family: $txtFont;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 36px;
            position: relative;
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.36s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

        }
        &-btn {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.48s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;

        }
    }
}


@media screen and (min-width: $largeBreakpoint) {

    .cntnt {
        &__intro {
            border-radius: 32px 32px 0 0;
            
            &-power {
                font-size: 2rem;

                img {
                    margin-left: 6px;
                    max-width: 28px;
                }
            }
            &-title {
                font-size: 5.4rem;
                font-weight: 600;
                margin: 32px 0 16px;
            }
            &-txt {
                font-size: 2rem;
                margin-bottom: 44px;
            }
        }
    }

}