.cntnt {
    &__login {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: calc(100vh - 300px);
        padding-bottom: 50px;
        text-align: center;

        &-inner {
            max-width: 1160px;
            padding: 0 16px;
            width: 100%;
        }
        &-title {
            font-size: 3.8rem;
            line-height: 1;
            margin-bottom: 32px;
        }
    }
}