@keyframes slideInFromTop {
    0% {
      transform: translateY(-40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
}

.cntnt {
    &__booster{
        &-btn{
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            margin-bottom: 2rem;
        }
        &-pack {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            margin: auto !important;
            &-packOne {
                margin-right: 2rem;
            }
            &-packTwo {
                margin-left: 2rem;
            }
            &-text {
                font-size: 1.6rem;
                font-family: rawengulk,sans-serif;
                font-weight: 500;
                letter-spacing: 0;
                max-height: 3rem;
                &-title {
                    margin-top: -2rem;
                }
            }
            &-boldText {
                font-size: 2.5rem;
                font-weight: bold;
                max-height: 3rem;
                margin-bottom: 3rem;
                &-bottomText {
                    margin-top: 11rem;
                }
            }
        }
        &-content {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            display: flex;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 10rem;
            
        }
        &-text {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }
        &-ownedPacks {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
            animation: 0.75s ease-out 0s 1 slideInFromTop;
            display: flex;
            &-content {
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            }
            &-text {
                margin-left: 2rem;
                font-size: 1.3rem;
                margin-right: auto;
            }
            &-image{
                width: 220px;
                border-radius: 25px;
                margin-right: auto;
            }
            &-count {
                margin-left: 2rem;
                margin-top: auto;
                margin-bottom: auto;
                transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
                animation: 0.75s ease-out 0s 1 slideInFromTop;
                font-size: 4rem;
                font-family: rawengulk,sans-serif;
                font-weight: 800;
            }
        }
    }
}

.scene {
    width: 400px;
    height: 550px;
    margin: auto;
    margin-bottom: 2rem;
    &.active {
        filter: blur(5px)
    }
}
  
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
  
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.card__faceOne--front {
    border-radius: 30px;
    background: url('./assets/images/1stEditionBoosterPack.png');
    background-size: 100% 100%;
}

.card__faceOne--back {
    border-radius: 30px;
    background: url('./assets/images/back-card-red.png');
    background-size: 100% 100%;
    transform: rotateY(180deg);
}

.card__faceTwo--front {
    border-radius: 30px;
    background: url('./assets/images/BaseSetBoosterPack.png');
    background-size: 100% 100%;
}

.card__faceTwo--back {
    border-radius: 30px;
    background: url('./assets/images/back-card-blue.png');
    background-size: 100% 100%;
    transform: rotateY(180deg);
}

.card__facePack--front {
}

.card__facePack--back {
    transform: rotateY(180deg);
}

/* this style is applied when the card is clicked */
.flipme {
    transform: rotateY(180deg);
}

@media screen and (max-width: $bigMobileBreakpoint) {
    .cntnt {
        &__booster {
            &-ownedPacks {
                &-image {
                    width: 200px;
                }
                &-text {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: $desktopBreakpoint) {
    .cntnt {
        &__booster {
            &-content {
                display: flex;
                flex-direction: column;
                margin-left: 0%;
                margin-right: 0%;
            }
            &-ownedPacks {
                &-count {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .scene {
        width: 300px;
        height: 415px;
    }
}


@media screen and (max-width: $bigBreakpoint) {
    .scene {
        width: 300px;
        height: 415px;
    }
    .cntnt {
        &__booster {
            &-pack {
                &-text {
                    font-size: 1.4rem;
                    &-title {
                        margin-top: -8rem;
                    }
                }

                &-content {
                    margin-bottom: 5rem;
                }
                &-boldText {
                    font-size: 1.9rem;
                    &-bottomText {
                        margin-top: 6rem;
                    }
                }
            }
        }
    }
}


.vm--modal {
    background-color: transparent !important;
    box-shadow: none !important;
}

.vm--overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}


// modal

.fullsize {
    width: 100%;
    height: 100%;
}
.boxModal {    
    width: 100%;
    height: 41%;
    display: flex;
    margin-bottom: 1%;
}

.cardModal {
    border-radius: 25px;
    margin: auto;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.12s;
    animation: 0.75s ease-out 0s 1 slideInFromTop;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.cardModal__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.cardModal__facePack--front {
}

.cardModal__facePack--back {
transform: rotateY(180deg);
cursor: auto;
}


.boosterImgPack{
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
}
.pointerCursor {
    cursor: pointer
}
.noPointerCursor {
    cursor: not-allowed;
    pointer-events: all !important;
}

/* Loader */
.loader-dual {
    margin: 5% auto;
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    width: 200px;
    z-index: 5;
    height: 200px;
    border-radius: 50%;
    border: 15px solid #dfc372;
    border-color: #dfc372 transparent #dfc372 transparent;
    animation: loader-dual 1.2s linear infinite;
}


@keyframes loader-dual {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}